# Build artifacts
*.o
nixlytile
result
result-*
game_params.conf

# Server build artifacts
Server/*.o
Server/nixly-server
Server/nixly.db

# Logs
error*.log

# Editor/IDE
*.swp
*.swo
*~

# Nix
.direnv/
.cache/

# Generated
compile_commands.json

# Misc
-
